<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DashUser</title>

    <!-- <link rel="stylesheet" href="./bootstrap-5.3.3-dist/bootstrap-5.3.3-dist/css/bootstrap.min.css"> -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- <link rel="stylesheet" href="/public/css/Dash4.css"> -->
    <link rel="stylesheet" href="/public/css/DashAdmin.css">
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="header-container col-15">
                <div class="menu-toggle" id="top-bar" onclick="Menutoggle()">
                    <a href="#home" id="top-bar">
                        <div class="bar1"></div>
                        <div class="bar2"></div>
                        <div class="bar3"></div>
                    </a>
                </div>
                <div class="logo-container">
                    <img src="/public/img/logo.png" alt="Logo" width=" 500" height=" 100"
                        class="d-inline-block align-text-top">
                </div>

                <!-- =========== fern ========= -->
                <div class="col-4"></div>
                <div class="col-2">
                    <div class="profile-container">
                        <img src="/public/img/person.png" alt="logo" width=" 500" height=" 100" class="profile-image">
                        <div class="dropdown">
                            <button class="btn dropdown-toggle" type="button" id="profileDropdown"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                <div class="profile-info">
                                    <div class="profile-id">6431501024</div>
                                    <div class="profile-name">Miss Yarida Fuangfoo</div>
                                </div>
                            </button>

                            <ul class="dropdown-menu" aria-labelledby="profileDropdown">
                                <li><a class="dropdown-item" href="#"><i class="fa fa-fw fa-user-circle">
                                        </i> Profile</a></li>
                                <li><a class="dropdown-item" href="#">
                                        <i class="fa fa-fw fa-th-large"></i> Change Password</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">
                                        <i class="fa fa-fw fa-sign-out"></i> Logout </a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="flex-container d-flex">
        <!-- Sidebar -->
        <div class="sidebar" id="sidebar">
            <a href="#">
                <i class="fa fa-fw fa-address-card"></i>
                <span class="sidebar-text">ขอใช้สิทธิการใช้งานระบบ</span>
                <!-- <span class="sidebar-user">Hello</span> -->
            </a>
            <a href="#">
                <i class="fa fa-fw fa-bar-chart"></i>
                <span class="sidebar-text">Status</span>
            </a>
            <a href="#">
                <i class="fa fa-fw fa-file"></i>
                <span class="sidebar-text">Report</span>
            </a>
        </div>

        <!-- Main content -->
        <div class="main-content" id="main-content">
            <!-- ค้นหา -->
            <section class="search-section">
                <p class="search-header"> <i class="fa fa-search"></i> ค้นหาข้อมูล </p>
                <hr>
                <form class="search-form"> <label for="system-work">ระบบงาน</label> <input type="text" id="system-work"
                        name="system-work"><label for="system-name">รหัส</label> <input type="text" id="system-name"
                        name="system-name">
                    <div class="form-buttons"> <button type="submit" class="search-button">ค้นหา</button> <button
                            type="reset" class="reset-button">ล้างข้อมูล</button> </div>
                </form>
            </section>
            <!-- ค้นหา (end) -->

            <!-- ตาราง -->
             
            <section class="table-section">                
                <p>แสดง 23 ถึง 23 จากทั้งหมด 23 รายการ</p>
                <button type="button" class="btn btn1 btn-success float-end">ยืนยัน</button>
                <table class="data-table">
                    <thead>
                        <tr>
                            <th><input class="form-check-input"  type="checkbox" name="option1"
                                    value="something" onClick="toggle(this)">เลือกทั้งหมด</th>
                            <th>ลำดับ</th>
                            <th>ระบบงาน</th>
                            <th>รหัส</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><input class="form-check-input" type="checkbox" name="option1"
                                    value="something"></td>
                            <td>1</td>
                            <td>นิติวิชาชีพ</td>
                            <td>012</td>
                        </tr>
                        <!-- เพิ่มแถวอื่น ๆ ตามต้องการ -->
                    </tbody>
                </table>
            </section>
            <!-- ตาราง (end) -->
        </div>
    </div>

    <script>
        // ========== Menu bar ========
        function Menutoggle() {
            const sidebar = document.querySelector('.sidebar');
            const mainContent = document.querySelector('.main-content');

            sidebar.classList.toggle('collapsed'); // เพิ่ม/ลบ class 'collapsed'

            if (sidebar.classList.contains('collapsed')) {
                sidebar.style.width = "80px"; // ยุบ Sidebar
                mainContent.style.marginLeft = "0px"; // ปรับเนื้อหาให้ขยับไปทางซ้ายเมื่อ Sidebar ยุบ
            } else {
                sidebar.style.width = "380px"; // ขยาย Sidebar
                mainContent.style.marginLeft = "0px"; // ปรับเนื้อหาให้กลับไปอยู่ในตำแหน่งเดิมเมื่อขยาย Sidebar
            }
        }

        // ========== Dropdown ========
        var dropdown = document.getElementsByClassName("dropdown-btn");
        var i;

        for (i = 0; i < dropdown.length; i++) {
            dropdown[i].addEventListener("click", function () {
                this.classList.toggle("active");
                var dropdownContent = this.nextElementSibling;
                if (dropdownContent.style.display === "block") {
                    dropdownContent.style.display = "none";
                } else {
                    dropdownContent.style.display = "block";
                }
            });
        }

        // ============= Table =============
        function toggleMenu() {
            var menu = document.getElementById("menu"); menu.classList.toggle("active");
        }

        //---------- btn status ----------
        function toggleStatus(button) {
            if (button.classList.contains('open')) {
                button.classList.remove('open'); button.classList.add('close'); button.textContent = 'ปิด';

            }
            else {
                button.classList.remove('close'); button.classList.add('open'); button.textContent = 'เปิด';

            }
        }
        function toggle(source) {
            checkboxes = document.getElementsByName('option1');
            for (var i = 0, n = checkboxes.length; i < n; i++) {
                checkboxes[i].checked = source.checked;
            }
        }
    </script>

    <script src="./bootstrap-5.3.3-dist/bootstrap-5.3.3-dist/js/bootstrap.bundle.min.js"></script>
</body>


</html>